@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.logo {
	position: absolute;
	display: flex;
	top: 5%;
	left: 5%;
	width: 200px;
	height: 80px;
	cursor: pointer;
	z-index: 50;
	font-family: 'Fredoka', sans-serif;
}

.zero {
	border-radius: 100px 100px 10px 100px;
	background-color: #5944ee;
	width: 23px;
	height: 23px;
	margin: 12px 0 15px 10px;
}

.one {
	margin-top: 15px;
	border: none;
	border-radius: 10px 100px 100px 100px;
	background-color: #033495;
	width: 23px;
	height: 23px;
	border: none;
}

.hp {
	width: 150px;
	height: 70px;
	font-size: 30pt;
	font-weight: 600;
	color: #033495;
	margin: 0 0 0 10px;
}

#plan {
	color: black;
	font-weight: 500;
	font-size: 17pt;
}

.text {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 450px;
	height: 200px;
	font-family: 'Rubik', sans-serif;
	font-size: 60pt;
	font-weight: 700;
}

.underLine {
	position: absolute;
	top: 35%;
	left: 8%;
	border: 1px solid black;
	width: 290px;
	height: 40px;
	background-color: #9697d6;
	border: none;
}

.somebody {
	position: absolute;
	bottom: 40%;
	left: 15%;
	font-size: 25pt;
	font-family: 'Rubik', sans-serif;
	color: #5e6d6d;
}

.logIn {
	position: absolute;
	top: 10%;
	right: 10%;
}

.log {
	width: 150px;
	height: 50px;
	font-size: 15pt;
	background-color: white;
	border-radius: 0px 30px 30px 50px;
	cursor: pointer;
	border: 3px solid black;
	font-weight: 600;
	font-family: 'Rubik', sans-serif;
	transition: all 0.4s;
}

input.log:hover {
	color: white;
	background-color: #033495;
	border: none;
}

.circle {
	position: absolute;
	top: -15%;
	right: 25%;
	width: 600px;
	height: 600px;
	border: none;
	border-radius: 50%;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.circle2 {
	position: absolute;
	top: 40%;
	right: 12%;
	width: 200px;
	height: 200px;
	border: none;
	border-radius: 50%;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.circle3 {
	position: absolute;
	bottom: 3%;
	right: 50%;
	width: 100px;
	height: 100px;
	border: none;
	border-radius: 50%;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.circle4 {
	position: absolute;
	top: 50%;
	right: 45%;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.circle5 {
	position: absolute;
	top: 30%;
	left: 28%;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.circle6 {
	position: absolute;
	top: 40%;
	right: 8%;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 50%;
	background-color: #b8c6db;
	background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

/* Modal */
.container, .containerSF {
	width: 100%;
	min-height: 100vh;
	display: none;
	background-color: lightgray;
	background: rgba(0, 0, 0, 0.03);
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Jua', sans-serif;
}

.mdialog input {
	font-family: 'Jua', sans-serif;
}

.mdialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 630px;
	background-color: white;
	border-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;
}

.clo {
	float: right;
	width: 70px;
	height: 70px;
	cursor: pointer;
	font-size: 17pt;
	background-color: white;
	border: none;
	border-radius: 20px;
}

.mdialog .mbody {
	width: 100%;
	height: 85%;
	padding-top: 70px;
}

.mdialog .mbody span {
	font-size: 30pt;
	letter-spacing : 3px;
}

.mdialog .mfooter {
	width: 100%;
	height: 15%;
}

.input-field {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	padding: 0 40px;
}

.input-field .icon {
	font-size: 20pt;
}

.input-field input {
	width: 80%;
	height: 100%;
	font-size: 14pt;
	border: none;
	padding-left: 15px;
}

.login {
	margin-top: 50px;
	width: 100%;
	height: 15%;
}

.login2 {
	width: 100%;
	height: 15%;
}

.login input, .login2 input {
	width: 80%;
	height: 100%;
	border: none;
	cursor: pointer;
	font-size: 16pt;
	border-radius: 20px;
	background-color: #5944ee;
	color: white;
	transition: all 0.4s;
	outline : none;
}

.login input:hover, .login2 input:hover {
	background-color: #033495;
}

.ctLogin {
	margin-top: 50px;
	width: 100%;
	height: 10%;
}

.ctLogin input {
	font-size: 16pt;
	border: none;
	color: #5944ee;
	cursor: pointer;
	background: none;
	transition: all 0.4s;
}

.ctLogin input:hover {
	color: #033495;
}

.mfooter {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mfooter input {
	width: 100px;
	height: 40px;
	margin: 10px;
	font-size: 15pt;
	cursor: pointer;
	background: none;
	border: none; color : #aaa;
	transition: all 0.3s;
	color: #aaa;
}

.mfooter input:hover {
	color: black;
}