@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap')
	;

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap')
	;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, input, button {
	font-family: 'Jua', sans-serif;
	overflow-x: hidden;
}

.firstTop {
	position: fixed;
	width: 100%;
	height: 100px;
	border-radius: 8px;
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	z-index: 49;
}

.logo {
	position: absolute;
	display: flex;
	top: 7%;
	left: 5%;
	width: 200px;
	height: 80px;
	cursor: pointer;
	z-index: 50;
	font-family: 'Fredoka', sans-serif;
}

.zero {
	border-radius: 100px 100px 10px 100px;
	background-color: #5944ee;
	width: 23px;
	height: 23px;
	margin: 12px 0 15px 10px;
}

.one {
	margin-top: 15px;
	border: none;
	border-radius: 10px 100px 100px 100px;
	background-color: #033495;
	width: 23px;
	height: 23px;
	border: none;
}

.hp {
	width: 150px;
	height: 70px;
	font-size: 30pt;
	font-weight: 600;
	color: #033495;
	margin: 0 0 0 10px;
}

#plan {
	color: #b8b8d1;
	font-weight: 500;
	font-size: 17pt;
}

#topMenu {
	position: absolute;
	top: 5%;
	right: 1%;
	width: 500px;
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#topMenu input {
	margin: 0 10px;
	width: 100px;
	height: 50px;
	cursor: pointer;
	background: none;
	border: none;
	font-size: 15pt;
	border-radius: 10px;
	transition: all 0.4s;
	letter-spacing: 2px;
}

#topMenu input:hover {
	background-color: #033495;
	color: white;
}

#topMenu input:focus {
	background-color: #033495;
	color: white;
}

#middle {
	position: absolute;
	top: 23%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.5px solid lightgray;
	border-radius: 10px;
	width: 80%;
	height: 15%;
	text-align: center;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding-bottom: 10px;
}


.search {
	width: 100%;
	height: 100%;
	padding: 45px;
}

.search-content {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.search-content div input {
	width: 400px;
	height: 50px;
	text-align: center;
	font-size: 16pt;
	border-radius: 10px;
	border: 0.5px solid lighgray;
	outline: none;
}

select {
	width: 150px;
	height: 50px;
	font-size: 16pt;
	border-radius: 10px;
	text-align: center;
	font-family: 'Jua', sans-serif;
	font-weight: 400;
	outline: none;
}

.input {
	width: 400px;
	height: 50px;
	border-radius: 10px;
	text-align: center;
	outline: none;
	font-size: 15pt;
	font-weight: 500;
	border: none;
	background-color: #E4E9F7;;
}

.search-content .icon {
	margin-left: 10px;
	font-size: 18pt;
	border-radius: 6px;
	cursor: pointer;
	width: 35px;
	height: 30px;
	color: #695CFE;
}

/* Bottom-list */
#bottom {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#bottom section {
	height: 590px;
	width: 1575px;
	display: flex;
	align-items: center;
}

.swiper {
	width: 1250px;
}

.card {
	position: relative;
	background: #fff;
	border-radius: 20px;
	margin: 20px 0;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card::before {
	content: "";
	position: absolute;
	height: 40%;
	width: 100%;
	background: #5944ee;
	border-radius: 20px 20px 0 0;
}

.card .card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	position: relative;
	z-index: 100;
	
}



section .card .image {
	height: 140px;
	width: 140px;
	border-radius: 50%;
	padding: 3px;
	background: #5944ee;
}

section .card .image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #fff;
}

.card .media-icons {
	position: absolute;
	top: 10px;
	right: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card .name-profession {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.name-profession .name {
	font-size: 17pt;
	font-weight: 600;
}

.name-profession .profession {
	font-size: 14pt;
	font-weight: 500;
}

.card .rating {
	display: flex;
	align-items: center;
	margin-top: 18px;
}

.card .rating i {
	font-size: 18px;
	margin: 0 2px;
	color: #7d2ae8;
}

.card .button {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.card .button button {
	background-color: #a7acd9;
	outline: none;
	border: none;
	color: #fff;
	padding: 8px 22px;
	border-radius: 20px;
	font-size: 14pt;
	transition: all 0.3s ease;
	cursor: pointer;
}

.button button:hover {
	background-color: #033495;
	border: none;
}

.swiper-pagination {
	position: absolute;
}

.swiper-pagination-bullet {
	height: 7px;
	width: 26px;
	border-radius: 25px;
	background: #7d2ae8;
}

.swiper-button-next, .swiper-button-prev {
	opacity: 0.7;
	color: #7d2ae8;
	transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
	opacity: 1;
	color: #7d2ae8;
}

#da {
	width: 150px;
	height: 50px;
	font-size: 16pt;
	border : 0.5px solid gray;
	border-radius: 10px;
	text-align: center;
	font-family: 'Jua', sans-serif;
	font-weight: 400;
	outline: none;
}

.input2 {
	width: 150px;
	height: 50px;
	font-size: 16pt;
	border : 0.5px solid gray;
	border-radius: 10px;
	text-align: center;
	font-family: 'Jua', sans-serif;
	font-weight: 400;
	outline: none;
}

.mbtn {
	width: 150px;
	height: 50px;
	font-size: 16pt;
	border-radius: 10px;
	text-align: center;
	font-family: 'Jua', sans-serif;
	font-weight: 400;
	outline: none;
	color: white;
	background-color : #7d2ae8;
	border : none;
}

